@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
  font-family: "Roboto", sans-serif;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

form > div {
  @apply flex flex-col gap-3 ; 
}

input, 
textarea {
  @apply shadow-md px-6 py-2 border text-black border-slate-300;
  
}

.tab-titles{
  display: flex;
  color: white;
 }

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #8a2be2;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
 width: 50%;
}

.tab-contents ul li{
list-style-type: disc;
margin: 10px 0; 
color:aliceblue; 
font-size: 14px;
padding: auto;
}

.tab-contents a {
color: #fff;
position: absolute;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.tab-titles {
  display: flex;
  flex-wrap: wrap; 
}

.tab-link {
  padding: 10px 15px;
  cursor: pointer;
}

.tab-contents {
  display: block;
  margin-top: 40px;
}

#skills {
  margin-top: -300px;
}

#img-profile {
  margin-top: -100px;
  
 }

 #welcometxt {
  color: white;
  font-size: 14px;
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}


@media only screen and (max-width: 896px) {
  #text-emd {
    display: none;
  }
}


@media only screen and (max-width: 768px){
  form > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
  }
 
  #skills {
    margin-top: 200px;
    transform: scale(0.8);
  }

  #welcometxt {
    color: white;
    font-size: 14px;
    font-weight: 800;
  }

  #img-profile {
    margin-top: -200px;
    
   }

   .tab-titles {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }

  .tab-links {
    margin-right: 0;
    font-size: 18px;
  }
  
  .tab-contents{
   margin-top: 40px;
  }
  

  #secure-data {
    margin-top: -500px;
  
    }
     #text-performance {
      margin-top: 80px
    }

    #img-lock {
      margin-top: -400px;
    }

 

  #video-encryption {
    margin-top: -500px;
  }

  #projects {
    margin-top: -400px;
   }

   input,
   textarea,
   button {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    width: 80vw; 
    border: 1px solid #778899; 
    color: black;
    margin: 0; 
    margin-left: -20px;
  }

  #text-emd {
    display: none;
  }

}

@media only screen and (max-width: 414px) {

  #text-emd {
    display: none;
  }

  #logo {
    display: none;
  }


  #skills {
    margin-top: 180px;
    transform: scale(0.6);
 } 

 .tab-contents {
    flex-direction: column;
    margin-top: 40px;
   }

   .tab-titles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .tab-links {
    margin-right: 0;
    font-size: 14px;
  }

  #responsive-container {
    margin-right: 10px;
  }

  #responsive-links {
    padding: 1px 20px;
    width: 100%;
  }
 

  #responsive-links .link {
    margin: 0;
   }


  .text-justify, li {
    font-size: 12px !important;
  }

  input,
  textarea,
  button {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    padding: 0.5rem 1.5rem;
    width: 80vw; 
    border: 1px solid #778899; 
    color: black;
    margin: 0; 
  }

 
  #navbar a {
    margin:  0;
    padding: 10px;
    width: 50%;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
  }

 #secure-data {
  margin-top: -700px;
  font-size: 15px;
  }

  #text-performance {
    margin-top: -200px
  }

  #img-lock {
    margin-top: -710px;
  }

  #locktop-img {
    width: 30px;
    height: 30px;
  }

  #lockMain-img {
    width: 35px;
    height: 35px;
  }

  #video-encryption {
    margin-top: -800px;
  }

  #motion-making {
   font-size: 18px;
 }

 #motion-never {
  font-size: 16px;
 }

 #full-stack {
   margin-left: -50px;
}

#txt-providing {
  font-size: 40px;

 }

 #motion-p {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  align-items: center; 
  justify-content: center; 
  
}

  #welcometxt {
    color: white;
    font-size: 12px;
    font-weight: 800;
  }

 #img-profile {
  display: none;
 }

 #projects {
  margin-top: -700px;
 }

 #contactus {
  margin-top: 50px;
 }

 #btn-download {
  font-size: 12px;
  width: 50%;
 }

}

@media only screen and (max-width: 400px) {
  #skills {
    margin-top: 250px;
    transform: scale(0.8);
   }

   #img-skills {
    height: 30rem;
    width: 100vw;
   }

 

  #text-performance {
    margin-top: 80px;
 }

  #secure-data {
  margin-top: -900px;
  } 

  #locktop-img {
    width: 30px;
    height: 30px;
  }

  #lockMain-img {
    width: 35px;
    height: 35px;
  }

  #video-encryption {
    margin-top: -800px;
  }

  #motion-p {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  align-items: center; 
  justify-content: center; 
  
}

}





